html, body {
	padding: 0;
	margin: 0;
}

.page {
	position: absolute;
	height: 100vh;
	width: 100%;
}

#page1 {
	background: red;
}

#page2 {
	background: green;
	top: 100vh;
}

#page3 {
	background: blue;
	top: 200vh;
}

#page4 {
	background: yellow;
	top: 300vh;
}

#page5 {
	background: red;
	top: 400vh;
}